aniso8601==3.0.2
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
backcall==0.1.0
cachetools==3.0.0
cairocffi==0.9.0
CairoSVG==2.2.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.0
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.3
cssselect2==0.2.1
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
demjson==2.2.4
dj-database-url==0.5.0
Django==2.1
django-heroku==0.3.1
enum34==1.1.6
Flask==1.0.2
google-api-python-client==1.7.7
google-auth==1.6.2
google-auth-httplib2==0.0.3
graphene==2.1.3
graphene-django==2.1.0
graphql-core==2.1
graphql-relay==0.4.5
gunicorn==19.9.0
httplib2==0.12.0
hyperlink==18.0.0
idna==2.7
igraph==0.1.11
imageio==2.4.1
incremental==17.5.0
inflection==0.3.1
ipython==7.1.1
ipython-genutils==0.2.0
iso8601==0.1.12
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10
kiwisolver==1.0.1
lunatic-python==1.0
lupa==1.7
lxml==4.2.6
MarkupSafe==1.0
matplotlib==2.2.3
more-itertools==4.3.0
mpmath==1.0.0
numpy==1.15.0
oauth2client==4.1.3
pandas==0.23.4
parsel==1.5.1
parso==0.3.1
pickleshare==0.7.5
Pillow==5.3.0
promise==2.1
prompt-toolkit==2.0.6
psycopg2==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.2.0
PyHamcrest==1.9.0
pylux==0.2.3
pyOpenSSL==18.0.0
pyparsing==2.2.2
pypiwin32==223
PyQt4==4.11.4
PyQt5==5.11.2
PyQt5-sip==4.19.12
PyQtdesignerplugins==1.1
PyQUIK==1.0
python-dateutil==2.7.3
python-igraph==0.7.1.post6
pytz==2018.5
pywin32==224
Quandl==3.4.2
queuelib==1.5.0
requests==2.19.1
rsa==4.0
Rx==1.6.1
scipy==1.1.0
Scrapy==1.5.1
service-identity==18.1.0
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.2.15
sympy==1.3
tabulate==0.8.2
tinycss2==0.6.1
traitlets==4.3.2
Twisted==18.9.0
typing==3.6.4
uritemplate==3.0.0
urllib3==1.23
vk==2.0.2
vk-api==11.3.0
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
whitenoise==4.1.2
win-unicode-console==0.5
zope.interface==4.6.0
